body {
    margin: 0;
    background-color: whitesmoke;
}

body h4{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 125,
        "YTLC" 500;
    text-align: center;
    color: #F39C12;
}

/* START NAVBAR */
nav {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* border: 2px solid #000000; */
    background-color: #34495E;
    color: whitesmoke;
    z-index: 1000;
}

.logo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    margin-left: 1%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    padding-right: 30px;
    border-radius: 0%;
    display: inline-block; 
    margin: 0 px; 
    margin-right: -5px;
}

.nav-links li a:hover {
    color: #F39C12;
}
/* END NAVBAR */

/* START HOME */
header {
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
}

.home{
    background-image: url(/assets/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 42%;
}

.profil {
    width: 35%;
}

header img {
    position: absolute;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: 5%;
    border: 4px solid #34495E;
    width: 400px;
}

header h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 330%;
    margin-top: 80px;
    color: whitesmoke;
    position: absolute;
    word-spacing: 5px;
}

header h2 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 40px;
    margin-top: 170px;
    color: whitesmoke;
    position: absolute;
}

header h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    margin-top: 230px;
    color: whitesmoke;
    position: absolute;
    letter-spacing: 2px;
}

.profil a {
    background-color: #34495E;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: whitesmoke;
    margin-top: 400px;
    position: absolute;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.profil a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

/* END HOME */

/* START ABOUT */
#about-me {
    padding: 50px;
    background-color: whitesmoke;
    color: #333;
}

#about-me h2 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #34495E;
    text-align: center;
    margin-bottom: 20px;
}

#about-me p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.main-abt {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.main-abt h2 {
    margin-top: 100px;
}

.abt-left {
    width: 30%;
    margin-right: 5%;
    justify-content: center;
}

.abt-middle {
    width: 30%;
    margin-right: 5%;
    border: 2px solid #F39C12;
    padding: 10px;
    border-radius: 10px;
}

.abt-right {
    width: 30%;
    border: 2px solid #F39C12;
    padding: 10px;
    border-radius: 10px;
}
/* END ABOUT */

/* START PROJECTS */
.projects{
    margin-bottom: 10%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.projects h2{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2.5em;
    color: #34495E;
}

.projects h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.card {
    border: 2px solid #F39C12;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.card img {
    width: 10%;
    height: auto;
    margin-bottom: 30px;
}

.card h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.card p {
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-align: justify;
}

.card a {
    color: #F39C12;
    text-decoration: none;
    font-weight: 700;
}

.card a:hover {
    text-decoration: underline;
}
/* END PROJECTS */

/* START CALL ME */
.callme h2 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2.5em;
    color: #34495E;
}

.callme h2 br {
    display: none;
}
.callme h4 {
    margin-top: -80px;
}

.callme h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.btn a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border: none;
    background-color: #F39C12;
    cursor: pointer;
    color: #333; 
    padding: 10px;
    width: 20%;
    justify-content: center;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.btn a i {
    margin-right: 10px;
}

.btn a:hover {
    background-color: #34495E;
    color: white;
    text-decoration: none;
}
/* END CALL ME */

/* START FOOTER */
hr {
    border: none;
    border-top: 2px solid #F39C12;
    margin: 0px;
}
.footer {
    background-color: #34495E;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footer a:hover {
    color: #F39C12;
}
/* END FOOTER */

/* MOBILE */
@media (max-width: 767px) {

    header {
        padding-top: 200px;
    }

    .logo {
        font-size: 15px;
    }
    .nav-links {
        margin-left: 20px;
        justify-content: center;
    }

    .home h1 {
        font-size: 40px;
        margin-top: -120px;
        width: 50%;
        margin-left: -15px;
        line-height: 35px;
    }

    .home h2 {
        margin-top: -30px;
        font-size: 18px;
        margin-left: -15px;
        line-height: 20px;
    }

    .home h3 {
        font-size: 12px;
        margin-top: 25px;
        width: 60%;
        margin-left: -15px;
        line-height: 20px;
    }

    .home h3 br {
        display: none;
    }

    .home img {
        width: 25%;
        margin-top: -130px;
        margin-left: 60%;
    }

    .profil a {
        font-size: 12px;
        margin-top: 100px;
    }

    .main-abt {
        display: block;
        text-align: center;
        margin-top: -40%;
    }

    .abt-left, .abt-middle, .abt-right {
        margin: 20px 0;
        width: 100%;
    }

    .abt-left h4 {
        margin-top: -10px;
    }

    .projects h4 {
        margin-top: 5px;
    }

    .projects h2 {
        margin-top: -10px;
    }

    .projects br {
        display: none;
    }

    .projects h5 {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-top: -20px;
    }

    .list {
        display: block;
        align-items: center;
    }

    .card {
        margin-left: -20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .callme h4 {
        margin-top: 5px;
    }

    .callme h2 {
        margin-top: -10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .callme h2 br {
        display: block;
    }

    .callme h5 br {
        display: none;
    }

    .callme h5 {
        margin-top: -20px;
        width: 80%;
        margin-left: 10%;
    }

    .callme .btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 10%;
    }
    
    .callme .btn a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        width: 80%;
    }
    
    .callme .btn a i {
        margin-right: 5px;
    }
}